# ========================
# 📂 Downloaded Content (NEVER UPLOAD)
# ========================
Rem God/
Safebooru/
Rule34/
Zerochan/
Waifu.im/
Nekos.best/
*.json

# ========================
# 🖼️ Personal Wallpapers Filter
# ========================
# هر عکسی که در این پوشه فرعی بگذاری آپلود نخواهد شد
web/wallpaper/personal/

# ========================
# 🐍 Python & Virtual Environments
# ========================
__pycache__/
*.pyc
*.pyo
venv/
env/
.env

# ========================
# 🛠️ Build & Executable Files
# ========================
build/
dist/
*.spec
